.posts {
  color: #222;
  h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid #dbdbdb;
  }
  .post {
    margin: 1.5rem 0;
    padding: 10px 0;

    h3 {
      text-transform: capitalize;
      margin-bottom: 5px;
    }
  }
  .wrapper {
    position: relative;
    overflow: hidden;

    .postsskel {
      margin: 20px auto;
      padding: 10px;
      border-radius: 10px;
      background: #f2f2f2;
    }
  }
}
