@mixin gridAuthor {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 20px;
}

.author {
  h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid #dbdbdb;
    color: #222;
  }
  .profile {
    @include gridAuthor;
    margin-top: 10px;

    .imgwrapper {
      width: 100px;

      img {
        width: 100%;
        border-radius: 50%;
      }
    }

    p {
      margin: 10px 0;
    }
  }
  .authorskel {
    @include gridAuthor;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background: #f2f2f2;
  }
}
